body {
    background-color: skyblue;
}

fieldset {
    margin-top: 1em;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2em;
    row-gap: 1em;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2em;
    row-gap: 1em;
    flex-wrap: wrap;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5em;
    row-gap: 0.5em;
    flex-wrap: wrap;
}

.checkboxGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.2em;
    row-gap: 0.5em;
    flex-wrap: wrap;
}

#rhythm,
#tempo,
#volume,
#reverbWet {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

#tempoSlider {
    width: 20em;
}

#volumeSlider {
    width: 15em;
}

#reverbSlider {
    width: 15em;
}

#pattern {
    position: relative;
    background-color: transparent !important;
    color: black;
    border: 1px solid black;
    height: 400px;
    width: 1000px;
    margin-top: 1em;
    margin-bottom: 1em;
    z-index: 0;
}

#overlay {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.5);
    width: 1px;
    height: 1px;
    z-index: 1;
    pointer-events: none;
    border: 2px solid blue; /* Debug border */
    contain: strict;
}


#copyMeasureFrom, #copyMeasureTo {
    width: 3em;
}

#message {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: white;
    color: black;
}

#keyInfo {
    margin-bottom: 1em;
}

#curve {
    width: 250px;
    height: 250px;
}

#canvasPlayScreen {
    background-color: lightblue;
    color: gray;
    border: 1px solid black;
    margin: 0%;
    padding: 0%;
    height: 80vh;
    width: 100%;
    touch-action: none;
}

